---
import { getCollection } from "astro:content";

import Layout from "@/layouts/base.astro";

const currentUrl = Astro.url.origin + "/RbxDocs";
let documents = await getCollection("documents");

function getThumbnail(link: string) {
    const linkRegex = /https?:\/\/[^\s]+/;
    const containsLink = link.match(linkRegex);

    return containsLink ? containsLink[0] : `${currentUrl}/thumbnails/${link}`;
}
---

<content>
    <title>RBX docs</title>
    <meta content="Rbx Docs" property="og:title" />
    <meta content="Documents helpful for roblox development" property="og:description" />
    <meta content={`/RbxDocs/documents`} property="og:url" />
    <meta content="#4c51bf" data-react-helmet="true" name="theme-color" />
</content>

<Layout class="p-6">
    <div class="flex flex-wrap justify-start gap-x-10 gap-y-10">
        {
            documents.map(doc => (
                <a
                    href={`/RbxDocs/documents/${doc.slug}`}
                    class="inline-block rounded bg-blue-500 text-white hover:bg-blue-600"
                    style={{
                        width: "12.5rem",
                        height: "12.5rem",
                        textAlign: "center",
                        alignItems: "center",
                        justifyContent: "center",
                    }}
                >
                    <div class="h-full w-full bg-blue-500 p-1 hover:border-2 hover:border-orange-500">
                        <img
                            src={getThumbnail(doc.data.thumbnail)}
                            alt={getThumbnail(doc.data.thumbnail)}
                            class="h-full w-full object-cover"
                        />
                    </div>
                    <span class="relative z-10 rounded-sm bg-blue-500 text-center leading-tight">
                        {doc.data.title || doc.slug}
                    </span>
                </a>
            ))
        }
    </div>
</Layout>
